:root {
    /* external color picker */
    --jet: #353535ff;
    --white: #fdffffff;
    --middle-grey: #928779ff;
    --razzmatazz: #db3069ff;
    --lemon-glacier: #fbff12ff;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
}

body {
    background-color: var(--jet);
    color: var(--white);
    text-align: center;
    margin: 80px 20px 40px 20px;
}

nav {
    background-color: var(--white);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    text-align: left;
    border-style: solid;
    border-color: var(--jet);
}

nav a {
    text-decoration: none;
    color: var(--jet);
    padding: 10px;
    border-style: solid;
}

nav a:hover {
    background-color: var(--lemon-glacier);
}

h1 {
    border-style: solid;
    padding: 20px;
}

section {
    background-color: var(--white);
    color: var(--jet);
    padding: 5px;
    border-style: solid;
    margin: auto;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    position: absolute;
    background-color: var(--white);
    color: var(--jet);
    width: 100%;
    bottom: 100;
    left: 0;
}

.syntax {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.example {
    width: 50vmax;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0px 1px 5px black;
    background-color: var(--middle-grey);
    border-radius: 5px;
}

/* Must define flexbox elements within a display flex element */

.flex-container {
    display: flex;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}


.flex-container>div {
    border-radius: 5px;
    box-shadow: 0px 1px 5px black;
    background-color: var(--razzmatazz);
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
}