:root {
    /* external color picker */
    --jet: #353535ff;
    --white: #fdffffff;
    --middle-grey: #928779ff;
    --razzmatazz: #db3069ff;
    --lemon-glacier: #fbff12ff;
    --standard-shadow: 0px 1px 5px black;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
    scroll-behavior: smooth;
}

body {
    background-color: var(--jet);
    color: var(--white);
    text-align: center;
    margin: 80px 20px 40px 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: var(--white);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: left;
    border-style: solid;
    border-color: var(--jet);
}

nav a {
    margin: 2px;
    flex-wrap: wrap;
    text-decoration: none;
    color: var(--jet);
    padding: 10px;
    border-style: solid;
}

nav a:hover {
    background-color: var(--lemon-glacier);
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

/* responsive layout */

img article .example div {
    max-width: 100%;
}

h1 {
    border-style: solid;
    padding: 20px;
}

section {
    background-color: var(--white);
    color: var(--jet);
    padding: 5px;
    border-style: solid;
    margin: auto;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

section>p {
    margin: 15px;
}

footer {
    position: absolute;
    background-color: var(--white);
    color: var(--jet);
    width: 100%;
    bottom: 100;
    left: 0;
}

article {
    display: flex;
    flex-direction: column;
    box-shadow: var(--standard-shadow);
    background-color: var(--jet);
    border-radius: 5px;
    justify-content: center;
    width: 50vmax;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
}

.syntax {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--white);
}

.example {
    overflow: hidden;
    box-shadow: var(--standard-shadow);
    background-color: var(--middle-grey);
    border-radius: 5px;
}

/* Must define flexbox elements within a display flex element */

.flex-container {
    display: flex;
}

.flex-container>div {
    border-radius: 5px;
    box-shadow: 0px 1px 5px black;
    background-color: var(--razzmatazz);
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
}

.tall {
    height: 200px;
}

.narrow {
    width: 30vmax;
    margin: auto;
}

.flex {
    display: flex;
    max-width: minmax(0px 50vmax);
    margin: auto;
}

@media (max-width: 400) {
    section {
        width: 100%;
        padding: 0px;
        background-color: red;
    }
    article {
        width: 100%;
    }
}